@font-face {
   font-family: "Poppins-Regular";
   src: local("Poppins-Regular"), url(./assets/fonts/Poppins/Poppins-Regular.woff) format("woff");
}

@font-face {
   font-family: "Poppins-SemiBold";
   src: local("Poppins-SemiBold"), url(./assets/fonts/Poppins/Poppins-SemiBold.woff) format("woff");
}
