@font-face {
   font-family: "Poppins-Medium";
   src: local("Poppins-Medium"), url(./assets/fonts/Poppins/Poppins-Light.woff) format("woff");
}

@font-face {
   font-family: "Poppins-SemiBold";
   src: local("Poppins-SemiBold"), url(./assets/fonts/Poppins/Poppins-SemiBold.woff) format("woff");
}
